#!/bin/sh
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Get DUT name and location
db_input medium config-testbox/dut || true
db_go

db_input medium config-testbox/location || true
db_go

# check serial port
db_input medium config-testbox/serialport || true
db_go

db_input medium config-testbox/serialspeed || true
db_go

db_input medium config-testbox/serialwidth || true
db_go

db_input medium config-testbox/serialparity || true
db_go

db_input medium config-testbox/serialstop || true
db_go
