Source: config-testbox
Section: metapackages
Priority: optional
Maintainer: Benedikt Spranger <b.spranger@linutronix.de>
Build-Depends: debhelper-compat (= 12), po-debconf
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ci-rt/testbox-shield
Vcs-Browser: https://github.com/ci-rt/config-testbox
Vcs-Git: https://github.com/ci-rt/config-testbox.git

Package: config-testbox
Architecture: all
Pre-Depends: debconf, r4d
Depends: ${misc:Depends}, ser2net, tftpd-hpa
Description: Linutronix TestBox v2 configuration package
 Linutronix TestBox v2 is a Banana Pi R1 router board based system.
 Main purpose of the board is to perform IO and other tests with DUTs
 (Devices Under Test). The TestBox v2 is used in the CI-RT project to
 test the Linux kernel realtime preemption patch.
 .
 This package handles the base configuration of the TestBox v2.
